* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #e7eaee;
   font-family: "Barlow Semi Condensed", sans-serif;
   font-weight: 500;
   font-style: normal;
}

.card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;
}

.card img {
    border-radius: 50%;
    margin-right: 10px;
}

.card .name {
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    opacity: 1.0;
}

.testimonial {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 13px;
}

.testimonial h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
}

#quote {
   position: absolute;
   right: 20%;
   top: 15px;
   scale: 1.2;
   z-index: -1;
   visibility: hidden;
}

.testimonial p {
    opacity: 0.7;
}

#test-container {
    padding: 8% 4%;
}
#testimonial-1 {
    background-color: #7541c8;
    color: #ffffff;
    position: relative;
    z-index: 0;
}

#testimonial-2 {
    background-color: #48556a;
    color: #ffffff;   
}

#testimonial-3 {
    background-color: #ffffff;
    color: #48556a;
}
#testimonial-4 {
    background-color: #19212e;
    color: #ffffff;
}

#testimonial-5 {
    background-color: #ffffff;
    color: #48556a;
}


@media (min-width: 575px) {
    #test-container {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
    }

    #testimonial-5 {
        flex-basis: 25%;
    }

    #main-left {
        display: flex;
        flex-direction: column;
        flex-basis: 75%;
    }

    #main-left .testimonial {
        margin-right: 15px;
    }

    #top {
        display: flex;
        flex-basis: 50%;
    }

    #bottom { 
        display: flex;
        flex-basis: 50%;
    }

    #quote {
        visibility: visible;
    }

    #testimonial-1, #testimonial-4 {
        flex-basis: 65%;
    }

    #testimonial-2, #testimonial-3 {
        flex-basis: 35%;
    }

}
